ColumnLimit: 88
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
